
.service-box {
    text-align: center;
    padding: 0 15px;
    margin-bottom: 60px;
}

.service-box h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-top: 0px;
    font-size: 17px;
}

.service-box:hover .icon-big-container {
    border-color: #fdb822;
}

.service-box:hover .icon-big-container svg {
    fill: #fdb822;
}

.service-box .more-href::after {
    content: '\2794';
}