
.carousel-caption h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    font-weight: 400;
    color: #FFF;
    background-color: rgba(136, 73, 34, 0.3);
    backdrop-filter: blur(2px);
    padding: 18px 30px;
    margin: 0 0 1px 0;
    display: inline-block;

}

.carousel-caption h3 {
    font-family: 'Lato', sans-serif;
    font-size: 2vw;
    font-weight: 400;
    background-color: rgba(253, 192, 60, 0.5);
    backdrop-filter: blur(2px);
    color: #684f40;
    margin: 0;
    padding: 16px 35px;
    display: inline-block;

}

.img-carousel .carousel-indicators li:before,
.shop-slide>.carousel-indicators li:before {
    position: absolute;
    width: 8px;
    height: 8px;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -5px;
    content: '';
    border-color: transparent;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.img-carousel .carousel-indicators>li,
.shop-slide>.carousel-indicators>li {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: none;
    border: none;
    margin: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.img-carousel .carousel-indicators li.active:before,
.shop-slide>.carousel-indicators li.active:before {
    background-color: #684f40;
    width: 8px;
    height: 8px;
}

.img-carousel>.carousel-indicators li:after,
.shop-slide>.carousel-indicators li:after {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -9px;
    content: '';
    border: 2px #684f40 solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}