.spinner-group {
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
}

.spinner-group svg {
    margin: 5px;
}

@media screen and (min-width: 991px) {
    .product-col .spinner-group{
        margin-left: 18% ;
    }
}