.sucsess-page-img {
    max-width: 100%;
    height: auto;
}

.sucsess-row {
    margin-bottom: 50px;
}

.article-header-2.sucsess h1 {
    margin-top: 5px;
}

.checks {
    align-items: center;
}

#video-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.section-content>.video-col {
    padding: 15px 15px 15px 15px;
}



.google-map {
    width: 100%;
    height: 100%;
}

.google-map-big-container {
    position: relative;
    height: 450px;
}

#contact-section .google-map-big-container {
    height: 500px;
}


.social-icon-container-alt,
.social-icon-container-alt-big,
.social-icon-container-alt-small {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
    margin: 0 8px 10px 0;
    background-color: #684f4018;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.social-icon-container-alt a,
.social-icon-container-alt-big a,
.social-icon-container-alt-small a {
    color: #FFF;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.social-icon-container-alt:hover,
.social-icon-container-alt-big:hover,
.social-icon-container-alt-small:hover {
    background-color: #fdb822;
}

.social-icon-container-alt-big {
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    margin-right: 10px;
}

.social-icon-container-alt-small {
    width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
}

.clients-row {
    justify-content: space-around;
}

#clients-section>.section-header h1 {
    font-size: 16px;
}


.section-content .main-contact-form {
    z-index: 999;
    position: absolute;
    color: #FFF;
    background-color: rgba(104, 79, 64, 0.805);
    overflow: auto;
    padding: 15px 30px;
    z-index: 99;
    height: 100%;
}

.main-contact-form .article-header h2 {
    color: #FFF;
    margin-top: 10px;
}

.main-contact-form>.contact-form>.form-group .form-control {
    background-color: rgba(255, 255, 255, 0.685);
}

.main-contact-form>.contact-form>.form-group input {
    white-space: normal;
}

.main-contact-form>.contact-form>.btn-order button {
    border-radius: 0px;
    border: none;
    width: 230px;
    height: 50px;
}

.contact-form>.form-group input[type=text] {
    white-space: normal;
}

input[type=submit] {
    white-space: normal;
}

.tabs-big-container {
    overflow: auto;
    justify-content: space-around;
    min-height: 657px;
}

.tabs-big-container .nav-item {
    max-height: 174px;
    margin-bottom: 10px;
}

.tabs-big-container .nav>.nav-item>.nav-link {
    display: block;
    padding: 7px;
    background: none;
    outline: none;
    position: relative;
    z-index: 10;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.tabs-big-container .nav>.nav-item>.nav-link img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    object-fit: cover;
    height: 160px;
    width: 160px;
}


.tabs-big-container .nav>.nav-item>.nav-link {
    position: relative;
    float: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.tabs-big-container .nav>.nav-item>.nav-link a {
    display: block;
    padding: 7px;
    background: none;
    outline: none;
    position: relative;
    z-index: 10;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.tabs-big-container .nav>.nav-item>.nav-link:after {
    position: absolute;
    width: 16px;
    height: 16px;
    right: -44px;
    top: 50%;
    margin-top: -8px;
    content: '';
    border-top: 2px #fdb822 solid;
    border-left: 2px #fdb822 solid;
    opacity: 0;
    background-color: #FFF;
    z-index: 10;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.tabs-big-container .nav>.nav-item>.nav-link:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px #fdb822 solid;
    content: '';
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.tabs-big-container .nav>.nav-item>.nav-link:hover:before,
.tabs-big-container .nav>.nav-item>.nav-link.active:before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.tabs-big-container .nav>.nav-item>.nav-link.active:after {
    opacity: 1;
}


.tabs-big-container .tab-content {
    border: 2px #fdb822 solid;
    padding: 8px;
    background-color: #FFF;
}

.tabs-button {
    border: none;
}

.tabs-button::after {
    content: '\2794';
}

.icon-big-container {
    width: 130px;
    height: 130px;
    font-size: 58px;
    color: #684f40;
    border: 3px #684f40 solid;
    text-align: center;
    display: inline-block;
    line-height: 168px;
    margin-bottom: 25px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.icon-big-container svg {
    fill: #684f40;
    width: 70px;
    height: 130px;
    vertical-align: top;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.icon-big-container:hover {
    border-color: #fdb822;
}

.icon-big-container:hover svg {
    fill: #fdb822;
}


.service-box {
    text-align: center;
    padding: 0 15px;
    margin-bottom: 60px;
}

.service-box h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-top: 0px;
    font-size: 17px;
}

.service-box:hover .icon-big-container {
    border-color: #fdb822;
}

.service-box:hover .icon-big-container svg {
    fill: #fdb822;
}

.service-box a::after {
    content: '\2794';
}

.tab-img-col {
    align-content: space-around;
    justify-content: space-around;
}



.img-carousel .carousel-indicators li:before,
.shop-slide>.carousel-indicators li:before {
    position: absolute;
    width: 8px;
    height: 8px;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -5px;
    content: '';
    border-color: transparent;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.img-carousel .carousel-indicators>li,
.shop-slide>.carousel-indicators>li {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: none;
    border: none;
    margin: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.img-carousel .carousel-indicators li.active:before,
.shop-slide>.carousel-indicators li.active:before {
    background-color: #684f40;
    width: 8px;
    height: 8px;
}

.img-carousel>.carousel-indicators li:after,
.shop-slide>.carousel-indicators li:after {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -9px;
    content: '';
    border: 2px #684f40 solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.shop-slide>.carousel-indicators {
    margin-top: 0px;
    bottom: -15px;
}

.carousel-item .product-row {
    min-height: 330px;
}

.carousel-item {
    max-height: 450px;
}

.carousel-item img {
    object-fit: cover;
    overflow: hidden;

}

#bread-image {
    position: relative;
}


.carousel-caption h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    font-weight: 400;
    color: #FFF;
    background-color: rgba(136, 73, 34, 0.3);
    backdrop-filter: blur(2px);
    padding: 18px 30px;
    margin: 0 0 1px 0;
    display: inline-block;
    left: 130px;
    bottom: 160px;
}

.carousel-caption h2.ms-right {
    left: auto;
    right: 130px;
}

.carousel-caption h3 {
    font-family: 'Lato', sans-serif;
    font-size: 3vw;
    font-weight: 400;
    background-color: rgba(253, 192, 60, 0.5);
    backdrop-filter: blur(2px);
    color: #684f40;
    margin: 0;
    padding: 16px 35px;
    display: inline-block;
    bottom: 100px;
    left: 130px;
}

.carousel-caption h3.ms-right {
    left: auto;
    right: 130px;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    font-size: 20px;
    top: 50%;
    width: 55px;
    height: 55px;
    margin: 10px;
    margin-top: -32px;
    color: rgb(104, 79, 64);
    border: 3px rgba(104, 79, 64, 0.7) solid;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    z-index: 50;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.carousel-control-prev:after,
.carousel-control-next:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}