.list-numbers {
    overflow: auto;
}

.list-numbers li {
    margin-left: 20px;
    list-style: disc;
    float: left;
    font-size: 13px;
}



#offer-section {
    margin-bottom: 65px;
}

.offer-box {
    padding-bottom: 10px;
}

.offer-box .offer-box-right {
    padding-top: 10px;
    position: relative;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.offer-box-left.offer-info {
    line-height: 1.8;
    padding: 27px 30px 0 35px;
}

.offer-info h1,
.offer-info h2,
.offer-info h3 {
    color: #000;
}

.offer-info h1 {
    font-size: 20px;
    margin-top: 0;
    padding: 0;
    text-transform: uppercase;
}


.price-order-row{
    justify-content: space-around;
    margin: 20px 0 20px 0;
}

.text-huge {
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 0;
  }