.clients-row {
    justify-content: center;
    width: 99vw;
}

#clients-section>.section-header h1 {
    font-size: 16px;
}

#clients-section{
    padding: 0 10px 0 10px;
    max-width: 99vw;
}

.client-logo span{
    justify-content: center;
}

#clients-section .section-header{
    
}