#contact-section .google-map-big-container {
    height: 500px;
}

.section-content .main-contact-form {
    z-index: 999;
    position: absolute;
    color: #FFF;
    background-color: rgba(104, 79, 64, 0.805);
    overflow: auto;
    padding: 15px 30px;
    z-index: 99;
    height: 100%;
}

.main-contact-form .article-header h2 {
    color: #FFF;
    margin-top: 10px;
}

.main-contact-form>.contact-form>.form-group .form-control {
    background-color: rgba(255, 255, 255, 0.685);
}

.main-contact-form>.contact-form>.form-group input {
    white-space: normal;
}

.main-contact-form>.contact-form>.btn-order button {
    border-radius: 0px;
    border: none;
    width: 230px;
    height: 50px;
}

.contact-form>.form-group input[type=text] {
    white-space: normal;
}

input[type=submit] {
    white-space: normal;
}