.shop-slide>.carousel-indicators {
    margin-top: 0px;
    bottom: -15px;
}


.shop-slide .carousel-item {
    min-height: 450px;
}

.carousel-item img {
    object-fit: cover;
    overflow: hidden;

}
