.modal-order-header.modal-header,
.modal-order-footer.modal-footer {
    border: none;
}

.modal-order-footer.modal-footer {
    justify-content: center;
}

.modal-order-body.modal-body {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}

.modal-order-header.modal-header svg{
    margin-left: 47%;
}

.modal-order-header.modal-header {
    padding-bottom: 0;
}

.modal-order>.modal-dialog>.modal-content {
    padding: 15px;
    outline: 2px solid #684f40;
    outline-offset: -15px;
}

.modal-content>.modal-order-footer.modal-footer .btn-order {
    border-radius: 0;
    background-color: #ffffff;
    border: 2px #fdb82252 solid;
}