.page-header.row {
    max-width: 99vw;
    margin: 0;
}

.logo-primary {
    padding: 0;
    max-height: 100%;
    width: auto;
    min-height: 65px;
    min-width: 65px;
}

.nav-top {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    justify-content: center;
}

.nav-top>div>a {
    text-transform: uppercase;
    color: #696969;
    padding: 10px;
}

.nav-top>.col-4>a:hover {
    color: #fdb822;
    text-decoration: none;
}

.basket-link *:hover {
    fill: #fdb822;
}

.basket-link {
    display: flex;
    justify-content: center
}

.nav-top>.col-4>a.selected {
    color: #fdb822;
}

.nav-top>.col-4>a.selected svg {
    fill: #fdb822;
}

.full-header {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(104, 79, 64, 0.9);
    color: #FFF;
    text-align: center;
    z-index: 10;
}

.full-header h1 {
    color: #FFF;
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    margin: 10px 0;
    padding-bottom: 10px;
}

.full-header h1:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 2px;
    background-color: #FFF;
    content: '';
}

.full-header h3 {
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0;
}

.full-header-container {
    border-top: 2px #684f40 solid;
    border-bottom: 2px #684f40 solid;
    display: table;
    width: 100%;
    position: relative;
    height: 130px;
}

.full-header-container:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../images/pattern_strips.png');
    content: '';
}

.navbar-collapse.collapse {
    max-height: 300px;
}

.navbar-toggler {
    position: relative;
}