.page-header.navbar.navbar-expand-md.navbar-light {
    font-family: 'Montserrat', sans-serif;
    color: #684f40;
    border: none;
    padding: 25px 0 23px 0;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.logo-primary {
    padding: 0;
}

.logo-primary {
    max-height: 100%;
    width: auto;
}

.nav-top {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding-left: 10px;
    justify-content: center;
}

.nav-top>.col{
    max-width: 150px;
}

.nav-top>.col>a {
    margin: 34px 0;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.nav-top>.col>a {
    color: inherit;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav-top>.col>a:hover {
    color: #fdb822;
    text-decoration: none;
}

.basket-link *:hover {
    fill: #fdb822;
}

.basket-link{
    display: flex;
    justify-content:center 
}

.nav-top>.col>a.selected {
    color: #fdb822;
}

.nav-top>.col>a.selected svg {
    fill: #fdb822;

}