.page-footer {
    font-weight: 300;
    margin-top: 50px;
}

.page-footer h4 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.page-footer .highlight {
    color: inherit;
    font-weight: 600;
    font-style: italic;
}

.page-footer .footer-dark {
    position: relative;
    padding-top: 50px;
    color: #FFF;
    background-color: #28292b;
    background-image: url('../../images/logo-footer-background.png');
    background-position: right center;
    background-repeat: no-repeat;
}

.page-footer .footer-light {
    padding-top: 50px;
    color: #d6d8db;
    background-color: #303133;
}

.site-info {
    font-size: 12px;
    text-align: center;
    color: #66686a;
    font-weight: 300;
    margin-bottom: 0;
  }
  