.shop-row {
    padding-top: 30px;
}

.product-col {
    margin-top: 20px;
}



.sidebar {
    margin-top: 30px;
}

.sidebar hr {
    height: 1px;
    border: none;
    margin: 30px 0;
    background-color: #ededed;
}

.sidebar-img {
    width: 200px;
    height: 200px;
    margin: 35px auto 30px auto;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.sidebar-img:after {
    position: absolute;
    width: 210px;
    height: 210px;
    top: -5px;
    left: -5px;
    background-color: #ddd;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.sidebar-img img {
    width: 100%;
    position: relative;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.sidebar h1 {
    font-size: 25px;
}


.product-row .product {
    min-width: 250px;
    min-height: 290px;
    position: relative;
    border: 2px #684f40 solid;
    margin-bottom: 30px;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.product-col {
    padding-left: 0;
    margin-bottom: 20px;
}

.product-row {
    justify-content: space-around;
}

.product .product-detail-container {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #FFF;
    opacity: 0;
    z-index: 150;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.product .product-detail-container .product-detail {
    background-color: #fdb822;
    overflow: auto;
}

.product-detail p {
    margin: 0 7px 10px 7px;
}

.product-detail h2 {
    font-size: 1.5rem;
}

.product-detail h3 {
    font-size: 0.9rem;
}

.product-detail .product-price {
    margin: 5px 0 10px 0
}

.product .product-detail-container h2 {
    margin-top: 10px;
    color: #FFF;
}

.product .product-detail-container h2 a {
    color: inherit;
}

.product .product-icon-container {
    position: relative;
    font-size: 18px;
    width: 56px;
    height: 56px;
    display: inline-block;
    margin: 0 6px;
    color: #fdb822;
    background-color: #FFF;
    border: 2px #fdb822 solid;
    text-align: center;
    line-height: 52px;
    z-index: 20;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


.product .product-icon-container a,
.product .product-icon-container button {
    color: #fdb822;
    display: block;
    position: absolute;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.product .product-icon-container:hover,
button.small-cup:hover,
button.big-cup:hover {
    color: #FFF;
    background-color: #684f40;
    border-color: #684f40;
}

.product .product-icon-container:hover a,
.product .product-icon-container button {
    color: #FFF;
}


button.small-cup,
button.big-cup {
    display: flex;
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0 6px;
    color: #fdb822;
    background-color: #FFF;
    border: 2px #fdb822 solid;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 100;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.small-cup {
    right: 50px;
    top: -45px;
}

.big-cup {
    right: 15px;
    top: -15px;
}

.product .product-icons {
    position: relative;
    z-index: 150;
}

.product .product-icons:after {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 50%;
    background-color: #fdb822;
    content: '';
    z-index: 10;
}

.product .product-preview {
    margin: 8px;
}

.product .product-preview a {
    display: block;
}

.product .product-preview img {
    width: calc(100% + 20px);
    transform: translateX(-10px);
    height: 270px;
    object-fit: cover;
}

.product .product-preview:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: rgba(255, 255, 255, 0.6);
    opacity: 0;
    margin: inherit;
    pointer-events: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.product .product-price {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.product:hover {
    border-color: #fdb822;
}

.product:hover .product-detail-container {
    opacity: 1;
}

.product:hover .product-preview:after {
    opacity: 1;
}

.product-label-container,
.product-label-container-alt {
    font-size: 12px;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 3px;
    left: 3px;
    display: table;
    z-index: 99;
}

.product-label-container .product-label,
.product-label-container-alt .product-label {
    font-family: 'Montserrat', sans-serif;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    background-color: #ff4800;
}

.product-label-container .product-label-bottom,
.product-label-container-alt .product-label-bottom {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 10px;
    overflow: hidden;
}

.product-label-container .product-label-bottom:after,
.product-label-container-alt .product-label-bottom:after,
.product-label-container .product-label-bottom:before,
.product-label-container-alt .product-label-bottom:before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ff4800;
    content: '';
}

.product-label-container .product-label-bottom:after,
.product-label-container-alt .product-label-bottom:after {
    left: -50%;
    -webkit-transform: rotate(-18.5deg);
    -moz-transform: rotate(-18.5deg);
    -o-transform: rotate(-18.5deg);
    -ms-transform: rotate(-18.5deg);
    transform: rotate(-18.5deg);
}

.product-label-container .product-label-bottom:before,
.product-label-container-alt .product-label-bottom:before {
    left: 50%;
    -webkit-transform: rotate(18.5deg);
    -moz-transform: rotate(18.5deg);
    -o-transform: rotate(18.5deg);
    -ms-transform: rotate(18.5deg);
    transform: rotate(18.5deg);
}

.product-label-container.big-label,
.product-label-container-alt.big-label {
    font-size: 18px;
    width: 110px;
    height: 130px;
    left: auto;
    right: 23px;
    top: -10px;
}

.product-label-container.big-label .product-label-bottom,
.product-label-container-alt.big-label .product-label-bottom {
    bottom: -19px;
    height: 20px;
}

.product-label-container-alt .product-label {
    background-color: #ff0000;
}

.product-label-container-alt .product-label-bottom:after,
.product-label-container-alt .product-label-bottom:before {
    background-color: #ff0000;
}