.shop-row {
    padding-top: 30px;
}

.sidebar {
    margin-top: 30px;
}

.sidebar hr {
    height: 1px;
    border: none;
    margin: 30px 0;
    background-color: #ededed;
}

.sidebar-img {
    width: 200px;
    height: 200px;
    margin: 35px auto 30px auto;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.sidebar-img:after {
    position: absolute;
    width: 210px;
    height: 210px;
    top: -5px;
    left: -5px;
    background-color: #ddd;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.sidebar-img img {
    width: 100%;
    position: relative;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.sidebar h1 {
    font-size: 25px;
}

.product-row .product {
    min-width: 250px;
    min-height: 290px;
    position: relative;
    border: 2px #684f40 solid;
    margin-bottom: 30px;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.product-row {
    justify-content: space-around;
}

html.cssanimations .onscroll-animate {
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 0;
}

.pagination-col {
    justify-content: center;
}

.show-more-btn {
    padding: 5px 10px 5px 10px;
}

.toast.added-toast {
    max-width: 300px;
    position: fixed;
    bottom: 10;
    right: 0;

}

.toast-body svg {
    margin-right: 10px;
}