
.cart-list h1 {
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.cart-list h3 {
    font-size: 16px;
}

.cart-list h2 {
    font-size: 17px;
}


.btn-order {
    justify-content: center
}

.cart-items-list {
    justify-self: center;
    margin-bottom: 30px;
}

.total-order-price {
    justify-content: flex-end;
    margin-bottom: 20px;
}


.btn-order h3 {
    margin-bottom: 0px;
    font-weight: 600;
    text-transform: uppercase;
}
/* 
.btn-order button {
    background-color: #684f40;
    border-color: #684f40;
    color: #FFF;
    line-height: 31px;
    text-align: center;
    height: 35px;
    margin: 3px 5px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    z-index: 4;
}

.btn-order button:hover {
    color: black;
    background-color: #ebebeb;
    border: 2px #ebebeb solid;
}
 */
.btn-order button:hover {
    background-color: #684f40;
    border-color: #684f40;
    color: #FFF;
    z-index: 4;
}

.btn-order button {
    background-color: #ebebeb;
    color: #684f40;
    text-align: center;
    text-transform: uppercase;
    border: 2px #ebebeb solid;
    
    line-height: 31px;
    height: 35px;
    margin: 3px 5px;
    border-radius: 35px;
    transition: all 0.2s ease-out;
    z-index: 4;
}