.row.btn-order {
    justify-content: center
}

.cart-item-row {
    justify-content: space-around;
}

.total-order-price {
    justify-content: flex-end;
}

.btn-order button,
.count-col button {
    background-color: #ebebeb;
    text-align: center;
    border: 2px #ebebeb solid;
    line-height: 31px;
    height: 35px;
    margin: 3px 5px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    z-index: 4;
}

.btn-order button:hover,
.count-col button:hover {
    background-color: #684f40;
    border-color: #684f40;
    color: #FFF;
    z-index: 4;
}