.error-form {
    border: 2px solid #FF6565;
}

.error-form-message {
    color: #FF6565;
    padding: 0em .2em;
    height: 1em;
    position: absolute;
    font-size: .8em;
}

.form-group>.form-control:focus,
.form-group>.row>.col-sm-7>.form-control:focus {
    color: #495057;
    background-color: rgba(255, 255, 255, 0.404);
    box-shadow: 0 0 0 0.2rem rgb(253 184 34 / 25%);
    border-color: #fdb822;
}

.error-form.form-control,
.error-form.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgb(253 34 34 / 25%);
    border-color: #fd2222;
}

.row .form-group {
    margin-bottom: 20px;
}

.form-group .form-control {
    margin-bottom: 0px;
    border: 1px #684f40 solid;
    border-radius: 0px;
    background-color: rgba(230, 230, 230, 0.171);
}

.form-group .form-label {
    margin-bottom: 0;
}

.bakery-form {
    margin-bottom: 30px;
}

.bakery-form .row {
    justify-content: center;
}

.form-subscribe.row {
    align-items: center;
}

.form-subscribe>.col-md-8 {
    padding-right: 0;
}

.form-subscribe>.col-md-8>.email-container input {
    color: #d6d8db;
    background-color: #3b3c3d;
    border: 2px #a1a3a5 solid;
    outline: none;
    width: 100%;
    padding: 8px;
    font-size: 18px;
    border-radius: 0px;
    margin: 0;
}

.form-subscribe>.col-md-8>.email-container {
    margin: 0;
}

.form-subscribe>.submit-container button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    font-size: 18px;
    color: #303133;
    text-align: center;
    background-color: #a1a3a5;
    border: none;
    outline: none;
    padding: 10px 0;
}

.form-contact-alt>.btn-order {
    justify-content: flex-end;
}

.form-contact-alt>.btn-order>button {
    height: 60px;
    width: 240px;
    border-radius: 0px;
    border: 1.5px #684f40 solid;
}

.btn-order h4 {
    margin-bottom: 0;
}

.form-contact {
    position: relative;
    color: #FFF;
    overflow: auto;
    z-index: 99;
}


.form-contact-alt input[type=submit] {
    font-size: 16px;
    color: #FFF;
    background-color: #684f40;
    border-color: #684f40;
    font-weight: normal;
    padding: 20px 30px;
}

.form-contact-alt .input-description {
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
}

.form-contact-alt .input-description i {
    width: 20px;
    display: inline-block;
}

.form-contact-alt .submit-container {
    float: right;
    position: relative;
    color: #FFF;
    margin: 15px 0;
}

.form-contact-alt .submit-container:after {
    font-family: 'FontAwesome';
    font-size: 16px;
    position: absolute;
    left: 30px;
    top: 0;
    padding: 20px 0;
    content: '\f003';
}

.form-group>.form-control#formFeedback {
    overflow: scroll !important;
    height: auto;
}


